.header-section {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  color: white;
  position: sticky;
  height: 85px !important;
  z-index: 99;
}

.header-section a {
  color: white;
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  position: relative;
  top: 20%;
}

.header-nav-logo {
  margin: 10px;
  padding-left: 5%;
  z-index: 999;
}

@keyframes neon-animation {
  0%,
  100% {
    text-shadow: 0 0 10px #7d00a3, 0 0 15px #7d00a3, 0 0 20px #7d00a3,
      0 0 30px #1b03a3, 0 0 50px #1b03a3, 0 0 70px #1b03a3, 0 0 90px #1b03a3,
      0 0 150px #1b03a3;
  }
  50% {
    text-shadow: 0 0 20px #7d00a3, 0 0 30px #7d00a3, 0 0 40px #7d00a3,
      0 0 50px #1b03a3, 0 0 80px #1b03a3, 0 0 90px #1b03a3, 0 0 110px #1b03a3,
      0 0 190px #1b03a3;
  }
}

.header-nav-logo p {
  font-size: xx-large;
  color: #7d00a3;
  font-weight: bolder;
  text-shadow: 0 0 10px #7d00a3, 0 0 20px #7d00a3, 0 0 30px #7d00a3,
    0 0 40px #1b03a3, 0 0 70px #1b03a3, 0 0 80px #1b03a3, 0 0 100px #1b03a3,
    0 0 150px #1b03a3; 
  animation: neon-animation 3s infinite alternate;
  letter-spacing: 3px;
}

.logo-dot {
  color: #1b03a3;
}

.header-nav-links {
  flex: 40%;
  z-index: 999;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav-list-item {
  padding: 0 30px;
}

.nav-buttons {
  z-index: 999;
  padding-right: 5%;
}
